{{template "base" .}}

{{define "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png" class="image-fluid mx-auto d-block room-image img-thumbnail" alt="General's Quarters room">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#!" id="check-availability-gq" class="btn btn-success">Check availability</a>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById('check-availability-gq').addEventListener("click", () => {
            let html = `
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival date">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure date">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            `;

            attention.date({
                msg: html, 
                title: "When should we expect you?",
                callback: (result) => {
                    fetch('/search-availability-json')
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                        })
                } 
            })
        });
    </script>
{{end}}